{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block nav_links %}

                 <li>
                     <a href="{% url 'portal:service' %}" class="active-page">Project</a>
                 </li>
                 <li><a href="{% url 'portal:statement' %}" class="black-text">Statement </a></li>
                 <li><a href="{% url 'portal:meter' %}" class="black-text">Meter Reading</a></li>
                 <li><a href="#!" class="black-text">Allotment </a></li>


{% endblock %}


{% block main_section %}
<div class="col l10 main-content">
    <div class="header-project center">
        <h5 class="white-text">Service Grouping</h5>
    </div>
    <div class="card search-panel orange lighten-4" style="margin: 10px;">
        <div class="row">
            <div class="col s8" style="margin-top: 15px">
                <button data-target="add-sg" class="waves-effect btn modal-trigger">Add Group</button>
                <button data-target="delete-sg" class="waves-effect btn modal-trigger">Delete Group</button>
                <button data-target="add-service" class="waves-effect btn modal-trigger" id="add-btn">Add Services</button>
            </div>
            <!-- add service group modal -->
            <div id="add-sg" class="modal">
                <form action="{% url 'portal:sgadd' %}" method="post" id="add-sg-form">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="input-field">
                            {{ sg.name|as_crispy_field}}
                        </div>
                        <div class="input-field">
                            {{ sg.remarks|as_crispy_field}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="waves-effect btn">Add</button>
                    </div>
                </form>
            </div>
            <!-- delete service group modal -->
            <div id="delete-sg" class="modal">
                <form action="{% url 'portal:sgdelete' %}" method="get" id="delete-sg-form">
                    <div class="modal-content">
                        <select id="del-name">
                            <option value="" disabled selected>Delete service group</option>
                            {% for group in sg_obj %}
                            <option value="{{ group.name }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="waves-effect btn">Delete</button>
                    </div>
                </form>
            </div>

            <!-- modal for services mapping -->
            <div id="add-service" class="modal">

                <form action="{% url 'portal:servicemapping' %}" method="post" id="service-mapping">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="input-field">
                            {{ serviceForm.serviceNumber|as_crispy_field}}
                        </div>
                        <div class="input-field">
                            {{ serviceForm.servicePassword|as_crispy_field}}
                        </div>
                        <div class="input-field">

                                {{ serviceForm.serviceZone|as_crispy_field}}

                        </div>
                        <div class="input-field">

                                {{ serviceForm.serviceGroup|as_crispy_field}}

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="waves-effect btn">Add</button>
                    </div>
                </form>

            </div>

                <form class="col s4" method="get", action="{% url 'portal:servicedisplay' %}" name="display-service">

                <div class="input-field col s7">
                    <select id="selected-service" name="groupName">
                        <option value="" disabled selected>Select Service Group</option>
                        {% for group in sg_obj %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s5">
                    <button class="waves-effect waves-light btn" type="submit" name="action">Display
                    </button>
                </div>
            </form>

        </div>
    </div>

    <!-- tools panel    -->
    <div class="tools-panel">
        <div class="row">
            <div class="col l6 offset-l8">
                <button data-target="edit-service" class="waves-effect btn modal-trigger disabled" id="edit-btn">Edit</button>
                <button data-target="delete-service" class="waves-effect btn modal-trigger disabled" id="delete-btn">Delete</button>
            </div>
        </div>
    </div>
    <!--Edit-tool modal -->
    <div id="edit-service" class="modal">
        <form action="{% url 'portal:serviceupdate' %}" method="post" id="service-update">
            {% csrf_token %}
            <div class="modal-content">

                <div class="input-field">
                    <input type="text" id="cell-id" name="id">
                    <label class="active" for="cell-id">Id</label>
                </div>
                <div class="input-field">
                    <input type="text" id="cell-serviceNumber" name="serviceNumber">
                    <label class="active" for="cell-serviceNumber">Service Number</label>
                </div>
                <div class="input-field">
                    <input type="text" id="cell-serviceNumber" name="servicePassword">
                    <label class="active" for="cell-serviceNumber">password</label>
                </div>
                <div class="input-field">
                    <select id="serviceZone" name="serviceZone">
                         <option value="" selected disabled></option>
                        {% for edc in edc_groups %}
                        <option value="{{ edc.id }}">{{ edc.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field">
                    <select id="serviceGroup" name="serviceGroup">
                        <option value="" selected disabled></option>
                        {% for group in sg_obj %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="waves-effect btn">Update</button>
            </div>
        </form>
    </div>
    <!--  Delete tool modal -->
    <div id="delete-service" class="modal">
        <form action="{% url 'portal:servicedelete' %}" id="serviceDelete" method="get">

            <div class="modal-content">
                <div class="input-field">
                    <input type="text" id="cell-id" name="id" readonly>
                    <label for="cell-id">Id</label>
                </div>
                <div class="input-field">
                    <input type="text" id="cell-serviceNumber" name="serviceNumber" readonly>
                    <label for="cell-serviceNumber">Service Number</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="waves-effect btn">Delete</button>
            </div>
        </form>
    </div>


             <!--             Table display -->

             <div class="card table-panel pink lighten-5" style="margin: 10px;padding: 15px; ">

                {% block table_display %}

                 <table class="bordered highlight" id="servicelist-table" style="font-size: 10pt" >
                     <thead>
                         <tr class="map-headers">
                             <th>
                                 <!-- <input type="checkbox" class="filled-in checkbox-pink" id="all" /> -->
                                 <!-- <label for="all"></label> -->
                             </th>
                             <th>Id</th>
                             <th>Group Name</th>
                             <th>Service Number</th>
                             <th>Zone</th>
                             <th>Edc number</th>
                         </tr>
                     </thead>
                     <tbody>

                     </tbody>
                 </table>

                 {% endblock %}
             </div>


    <!--             main-content ends here    -->
</div>
<!--    main continer ends here-->
</div>


{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="{% static 'portal/js/service.js' %}"></script>
{% endblock %}
