{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block nav_links %}
<li>
    <a href="{% url 'portal:service' %}" class="black-text">Project</a>
</li>
<li><a href="{% url 'portal:statement' %}" class="active-page">Statement </a></li>
<li><a href="customer.html" class="black-text">Customer</a></li>
<li><a href="#!" class="black-text">Allotment </a></li>
{% endblock %}
{% block main_section %}
<div class="col l10 main-content">
    <div class="header-project center">
        <h5 class="white-text">Generation Statement Download</h5>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width z-depth-1">
                <li class="tab col s3"><a class="active" href="#bulk-download">Bulk Download</a></li>
                <li class="tab col s3"><a href="#customized-download">Single Download</a></li>
            </ul>
        </div>
        <!--                tab for bulk download-->
        <div id="bulk-download" class="col s12 bulk">
            <div class="card orange lighten-4">
                <form id="bulk-query" method="POST" action="{% url 'portal:statementfetch' %}" class="query-tools">
                    {% csrf_token %}
                    <div class="input-field">
                        <select id="service-group" name="group">
                            <option value="" disabled selected>Select service group</option>
                            {% for group in sg_obj %}
                            <option value="{{ group.name }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field">
                        <select id="month" name="month">
                            <option value="" selected disabled>Select Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <select id="year" name="year">
                            <option value="" selected disabled>Select year</option>
                            <option value="2019">2019</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <button class="waves-effect btn" type="submit">Display</button>
                    </div>
                </form>
            </div>

            {% block reading_table %}

            <table class="bordered highlight" id="summary-table" style="font-size: 12px">
                <thead>
                    <tr>
                        <th rowspan="2">Service Number</th>
                        <th colspan="5" class="center-align">Net Units</th>
                        <th colspan="5" class="center-align">Banking Units</th>
                        <th colspan="7" class="center-align">Charges</th>
                    </tr>
                    <tr>
                        <th>Service Number</th>
                        <th>C1</th>
                        <th>C2</th>
                        <th>C3</th>
                        <th>C4</th>
                        <th>C5</th>
                        <th>C1</th>
                        <th>C2</th>
                        <th>C3</th>
                        <th>C4</th>
                        <th>C5</th>
                        <th>C2</th>
                        <th>C3</th>
                        <th>C4</th>
                        <th>C5</th>
                        <th>C6</th>
                        <th>C7</th>
                        <th>C1</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reading in readings %}
                        {% for r in reading %}
                        <tr>
                        <td>{{ r.consumerID }}</td>
                        <td>{{ r.netUnitsC1 }}</td>
                        <td>{{ r.netUnitsC2 }}</td>
                        <td>{{ r.netUnitsC3 }}</td>
                        <td>{{ r.netUnitsC4 }}</td>
                        <td>{{ r.netUnitsC5 }}</td>
                        <td>{{ r.bankingC1 }}</td>
                        <td>{{ r.bankingC2 }}</td>
                        <td>{{ r.bankingC3 }}</td>
                        <td>{{ r.bankingC4 }}</td>
                        <td>{{ r.bankingC5 }}</td>
                        <td>{{ r.chargesC002 }}</td>
                        <td>{{ r.chargesC003 }}</td>
                        <td>{{ r.chargesC004 }}</td>
                        <td>{{ r.chargesC005 }}</td>
                        <td>{{ r.chargesC006 }}</td>
                        <td>{{ r.chargesC007 }}</td>
                        <td>{{ r.chargesC001 }}</td>
                        <tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>

            {% endblock %}
        </div>
        <!--                tab for customized download -->
        <div id="customized-download" class="col s12 single">
            <div class="card orange lighten-4">
                <form action="#" class="query-tools ">
                    <div class="input-field">
                        <input type="text" id='serviceNumber'>
                        <label for="#serviceNumber">Service Number</label>
                    </div>
                    <div class="input-field">
                        <select name="" id="month">
                            <option value="" selected disabled>Select Month</option>
                            <option value="january">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <select name="" id="year">
                            <option value="" selected disabled>Select year</option>
                            <option value="2019">2019</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <button class="waves-effect btn" type="submit">Download</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col s12" id="results">
        <div class="card">

        </div>
        <!--             main-content ends here    -->
    </div>
    <!--    main continer ends here-->
</div>
{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="{% static 'portal/js/statement.js' %}"></script>
{% endblock %}
